@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$background-intern: hsl(0, 0%, 100%);
$background: hsl(212, 45%, 89%);
$text: hsl(220, 15%, 55%);
$titles: hsl(218, 44%, 22%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background-color: $background-intern;
    padding: 1rem;
    width: 322px;
    height: 500px;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;

    .first_section {
      height: 60%;
      border-radius: 0.8rem;
      -webkit-border-radius: 0.8rem;
      -moz-border-radius: 0.8rem;
      -ms-border-radius: 0.8rem;
      -o-border-radius: 0.8rem;
      overflow: hidden;
      img {
        width: 100%;
      }
    }

    .second_section {
      height: 40%;
      text-align: center;

      h1 {
        padding: 1.5rem 0.5rem 1rem 0.5rem;
        color: $titles;
        font-size: 1.5em;
        font-weight: 700;
      }

      p {
        color: $text;
        padding: 0 1.5rem;
      }
    }
  }
}
